<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ComputerClubEntities" connectionString="metadata=res://*/DBconnection.csdl|res://*/DBconnection.ssdl|res://*/DBconnection.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-Q5RUO3K;initial catalog=ComputerClub;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>